* {
  padding: 0px;
  margin: 0px;
  background-color: #E4E4E4;
  font-family: Epilogue, sans-serif;
}

#preloader {
  background: #183C56 url(/img/brik.png) no-repeat center center;
  background-size: 5%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2000;
}
@media (max-width: 768px) {
  #preloader {
    background-size: 10%;
  }
}
@media (max-width: 480px) {
  #preloader {
    background-size: 15%;
  }
}

.container-fluid {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0;
}

#navbar {
  height: 80px;
  padding: 0px;
  margin: 0px;
}
#navbar #logo {
  padding: 0px;
}
#navbar .fs-6 {
  font-weight: bolder;
  color: #183C56;
  margin-left: 50px;
}
#navbar .fs-6 a {
  text-decoration: none;
  color: inherit;
}

#burger {
  height: 50px;
  position: relative;
  padding: 0px;
}

#toggle {
  position: relative;
  z-index: 1;
  color: #183C56;
  padding: 0px;
}

#menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100vw;
  transition: all 0.3s;
  overflow-x: hidden;
}
#menu ul {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
}
#menu ul li {
  list-style-type: none;
  margin-top: 10px;
}
#menu ul li a {
  text-decoration: none;
  color: #183C56;
  font-size: 3em;
}

#menu.active {
  right: 0;
}

#boxuno {
  height: 100vh;
  width: 100%;
  align-items: flex-end;
}
#boxuno .col {
  padding: 0px;
}
#boxuno .col .ego {
  font-size: 25em;
  font-weight: bolder;
  color: #183C56;
  margin: 0px;
  padding: 0px;
  margin-left: 50px;
}
@media (max-width: 1200px) {
  #boxuno .col .ego {
    font-size: 15em;
  }
}
@media (max-width: 768px) {
  #boxuno .col .ego {
    font-size: 8em;
  }
}

#boxdue {
  height: 600px;
  padding: 0px;
}
#boxdue #info {
  padding: 0px;
  align-items: center;
}
#boxdue #info .fs-4 {
  margin: 0px;
}
#boxdue #info #hidden-text {
  padding: 20px;
  margin: 0px;
}
#boxdue #info #hidden-text .d-none {
  display: none;
}
#boxdue #info #read-more-btn {
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #183C56;
  color: #E4E4E4;
}
#boxdue #io {
  height: 600px;
  padding: 0px;
  background-image: url(/img/io.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

section {
  height: calc(100vh - 200px);
  margin: 0;
}
section #message1 {
  font-size: 1.5em;
  color: #183C56;
}

#carouselExampleIndicators {
  position: relative;
  width: 100%;
  height: 400px;
}

.carousel-indicators,
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none;
}

.carousel-indicators button {
  background-color: none;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 0.5;
}

.carousel-indicators button.active {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 400px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#boxtre .col-md-6 {
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}
#boxtre .col-md-6:hover {
  border-color: #E4E4E4;
}
#boxtre .col-6 {
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}
#boxtre .col-6:hover {
  border-color: #E4E4E4;
}
#boxtre #vino, #boxtre #volantino {
  background-image: url(/img/vino.jpg);
  height: 450px;
  padding: 0px;
  background-size: cover;
  object-position: center;
  align-items: center;
}
#boxtre #volantino {
  background-image: url(/img/volantino.jpg);
}

#myForm {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
#myForm div {
  margin-bottom: 10px;
}
#myForm div label {
  display: block;
  font-weight: bold;
}
#myForm div input[type=text],
#myForm div input[type=password],
#myForm div input[type=email] {
  width: 250px;
  padding: 8px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}
#myForm button[type=submit] {
  width: 80px;
  padding: 10px;
  background-color: #183C56;
  color: #E4E4E4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#myForm button[type=submit]:hover {
  background-color: #0056b3;
}

.scrolling-text-container {
  overflow: hidden;
  width: 100%;
  height: 120px;
  background-color: #183C56;
  margin: 0px;
}
.scrolling-text-container .scrolling-text {
  font-family: Epilogue, sans-serif;
  color: #E4E4E4;
  background-color: #183C56;
  font-size: 2em;
  margin-top: 20px;
  font-weight: bolder;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
}
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .scrolling-text-container .scrolling-text-container {
    height: auto;
  }
}

#social .col {
  width: 100vw;
  height: 80px;
  background-color: #183C56;
}
#social .col ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #183C56;
}
#social .col ul li {
  margin-top: 10px;
}
#social .col ul li a {
  text-decoration: none;
  color: #183C56;
  font-size: 3em;
  display: flex;
  align-items: center;
}
#social .col ul li a img {
  width: 50px;
  padding: 15px;
  background-color: #183C56;
}

/*# sourceMappingURL=style.css.map */
